[Desktop Entry]
Type=Application
Name=st
Comment=simple-terminal emulator for X
Icon=utilities-terminal
Exec=st -e fish
Categories=System;TerminalEmulator
